:root {
  --fretboard-size: 12;
  --string-number: 6;
}

.fretboard {
  background-color: #9b6f52;
  display: grid;
  overflow: auto;
}

.strings-container {
  display: grid;
  grid-column: 1 / calc(var(--fretboard-size) + 1);
  grid-row: 1 / calc(var(--string-number) + 1);
  grid-template-rows: repeat(var(--string-number), 1fr);
  height: 100%;

}

.string-container {
  display: grid;
  position: relative;
  grid-template-columns: 60px repeat(var(--fretboard-size), minmax(60px, 1fr));
  height: min(5vh, 30px);
}

.string {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: calc(50% - 2px);
}

.string-element {
  background-color: white;
  height: 2px;
  width: 100%;
  z-index: 1;
}

.fretboard-container {
  display: grid;
  grid-column: 1 / calc(var(--fretboard-size) + 1);
  grid-row: 1 / calc(var(--string-number) + 1);
  grid-template-columns: 60px repeat(var(--fretboard-size), minmax(50px, 1fr));
  height: 100%;
}

.fret-element {
  
  background-color: transparent;
  border-right: 8px solid rgb(65, 65, 65);
  grid-template-rows: repeat(1, 1fr);
  position: relative;
}

.fret-element:nth-of-type(4),
.fret-element:nth-of-type(6),
.fret-element:nth-of-type(8),
.fret-element:nth-of-type(10) {
  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    border-radius: 100%;
    background-color: white;
    opacity: 0.7;
    z-index: 1;
  }
}

.fret-element:nth-of-type(13) {
  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(16% - 5px);
    left: calc(50% - 5px);
    border-radius: 100%;
    background-color: white;
    opacity: 0.7;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(83% - 5px);
    left: calc(50% - 5px);
    border-radius: 100%;
    background-color: white;
    opacity: 0.7;
    z-index: 1;

  }
}

.note {
  display: flex;
  justify-content: center;
  align-items: center;
}

.string-container .note:nth-of-type(2) {
  background-color: #4f2c02;
  width: 60px;
}

.note button {
  width: 90%;
  height: 90%;
  padding: 0;
  border: none;
  border-radius: 0;
  z-index: 1;
}